<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel='stylesheet' type="text/css" href="./style.css" />
    </head>
    <body>
        <header>
            <figure>
                <img src="../../assets/img/usp.png" alt='logo-img'/>
            </figure>
            <nav>
                <ul>
                    <li>
                        <a href='../onlineshopping/index.html'> 
                            <img src="../../assets/img/shopping.png" />
                            Online Shopping 
                        </a>
                    </li>
                    <li>
                        <a href='../../index.html'>
                            <img src="../../assets/img/home.png" />
                            Home
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <form>
                <input class="login-user" type="text" placeholder="Insira seu login" />
                <button class="btn" type="button">Realizar Login </button>
            </form>
            <section class="warning">Usuario não encontrado, tente novamente</section>
            <section class="success">Usuario Logado com sucesso, redirecionando...</section>
        </main>

        <script type='text/javascript' src="../../scripts/login.js"></script>
    </body>
</html>
